# Essential API Configuration
NEXT_PUBLIC_API_URL=http://localhost:1337/api
NEXT_PUBLIC_MEDIA_URL=http://localhost:1337
NEXT_PUBLIC_USER_API_URL=http://localhost:3001
NEXT_PUBLIC_PROD_API_USERS_URL=https://api.amnesty.mn/users

# CMS Configuration
NEXT_PUBLIC_CMS_LOCALE=mn-MN
NEXT_PUBLIC_DEMO_MODE=false

